<h2>About Us</h2>

<div class="well">
	<div class="row">
		General into
	</div>
	<div class="row">
		<div class="col-md-6">
			<p>Codealia started as an idea between two software developers within Agile Ventures- Pete and Thomas.   Pete had two seven year-old twins whom he wanted to teach how to code. He looked into after-school meetups, code clubs and even coding camps. Nothing really fit the bill and he thought, why not just build something for them to learn?</p>

			<p>Meanwhile Thomas, who has a background in Marketing and managing large-scale projects, grew concerned about the declining number of women in the industry. He believed that putting together a curriculum geared specifically to young girls would give them an early opportunity to discover the fun of computer science.</p> 

			<p>The two got to talking and the idea of Codealia: Where girls learn to code was born. They reached out to Luchinda, a budding developer in Sweden who wanted to promote coding and software development training. The rest as they say is history.</p>
		</div>

		<div class="col-md-6">	  
		  <div class="avatar" class="col-xs-6 col-md-4">
		    <a href="#" data-toggle="tooltip" data-placement="left" title="Thomas Ochman">
		      <img id="avatarThomas" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('thomas@nocebo.se') %>" alt="Thomas Ochman">
		    </a>
		  </div>
		  <div class="avatar" class="col-xs-6 col-md-4">
		    <a href="#" class="" data-toggle="tooltip" data-placement="left" title="Luchinda Namani">
		      <img id="avatarSampriti" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('luchinda@live.se') %>" alt="Luchinda Namani">
		    </a>
		  </div>
		  <div class="avatar" class="col-xs-6 col-md-4">
		    <a href="#" class="" data-toggle="tooltip" data-placement="left" title="Sam Joseph">
		      <img id="avatarTemplate" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('sam') %>" alt="Sam Joseph">
		    </a>
		  </div>
			<div class="avatar" class="col-xs-6 col-md-4">
		    <a href="#" class="" data-toggle="tooltip" data-placement="left" title="Pete Boucher">
		      <img id="avatarPete" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('petebouch@gmail.com') %>" alt="Pete Boucher">
		    </a>
		  </div>
		  <div class="avatar" class="col-xs-6 col-md-4">
		    <a href="#" class="" data-toggle="tooltip" data-placement="left" title="E. Vivian Orakwue">
		      <img id="avatarJeff" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('evo2013evo@gmail.com') %>" alt="E. Vivian Orakwue">
		    </a>
		  </div>
		  <div class="avatar" class="col-xs-6 col-md-4">
		    <a href="#" class="" data-toggle="tooltip" data-placement="left" title="Marian Mosley">
		      <img id="avatarJeff" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('') %>" alt="Marian Mosley">
		    </a>
		  </div>
<!-- 		  <div class="avatar" class="col-xs-6 col-md-4">
		    <a href="#" class="" data-toggle="tooltip" data-placement="left" title="Bryan Yap">
		      <img id="avatarBryan" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('bryan.yap.mh@gmail.com') %>" alt="Bryan Yap">
		    </a>
		  </div>
		  <div class="avatar" class="col-xs-6 col-md-4">
		    <a href="#" class="" data-toggle="tooltip" data-placement="left" title="Sampriti Panda">
		      <img id="avatarSampriti" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('sampdingo@hotmail.com') %>" alt="Sampriti Panda">
		    </a>
		  </div> -->
		</div>
	</div>
</div>
