<h2>About Us</h2>

<div class="well">
	<div class="row">
		<div class="col-md-12">
			<h3>The Project</h3>
			<p>The Codealia project is an initiative of the UK-based non-profit organization Agile Ventures.  Agile Ventures develops IT solutions for customers in the non-profit sector. </p>
			
			<p>We are dedicated to crowdsourced learning and Agile software development using pair programming technologies, code reviews and daily scrums.</p>

			<p>Find our website at <a href="http://www.agileventures.org">www.agileventures.org</a> or check out our <a href="http://www.facebook.com/AgileVentures">Facebook page</a>.</p>
		</div> 
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>History of Codealia</h3>
			<p>Thomas Ochman and Pete Boucher, both members of Agile Ventures, thought up of the idea of Codealia: Where Girls Learn to Code. The project team is comprised of both female and male software developers from all over the world who want to see more women in computer science. </p>

			<p>Codealia.org operates under the MIT License and there is full transparency with all content and materials published on the site. We gear the curriculum specifically to young girls in order to give them an early start in the field of engineering science. Our team proudly uses Agile methods and Ruby on Rails as the framework to deliver well-tested and reliable software.</p>

			<p>Learn more about what we are currently doing on our Facebook page or follow us on Twitter.</p>		
		</div>

		<div class="col-md-6">	  
			<div class="row">
			  <div class="avatar" class="col-xs-6 col-md-6">
			    <a href="#" data-toggle="tooltip" data-placement="left" title="Thomas Ochman">
			      <img id="avatarThomas" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('thomas@nocebo.se') %>" alt="Thomas Ochman">
			    </a>
			  </div>
			  <div class="avatar" class="col-xs-6 col-md-6">
			    <a href="#" class="" data-toggle="tooltip" data-placement="left" title="Luchinda Namani">
			      <img id="avatarSampriti" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('luchinda@live.se') %>" alt="Luchinda Namani">
			    </a>
			  </div>
			</div>
			<div class="row">		
			  <div class="avatar" class="col-xs-6 col-md-6">
			    <a href="#" class="" data-toggle="tooltip" data-placement="left" title="Sam Joseph">
			      <img id="avatarTemplate" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('sam') %>" alt="Sam Joseph">
			    </a>
			  </div>
				<div class="avatar" class="col-xs-6 col-md-6">
		    	<a href="#" data-toggle="tooltip" data-placement="left" title="Pete Boucher">
			      <img id="avatarPete" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('petebouch@gmail.com') %>" alt="Pete Boucher">
			    </a>
			  </div>
			</div>
			<div class="row">		
			  <div class="avatar" class="col-xs-6 col-md-6">
			    <a href="#" class="" data-toggle="tooltip" data-placement="left" title="E. Vivian Orakwue">
			      <img id="avatarJeff" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('evo2013evo@gmail.com') %>" alt="E. Vivian Orakwue">
			    </a>
			  </div>
			  <div class="avatar" class="col-xs-6 col-md-6">
			    <a href="#" class="" data-toggle="tooltip" data-placement="left" title="Marian Mosley">
			      <img id="avatarJeff" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('') %>" alt="Marian Mosley">
			    </a>
			  </div>
			</div>
<!-- 	<div class="row">		
				<div class="avatar" class="col-xs-6 col-md-6">
			    <a href="#" class="" data-toggle="tooltip" data-placement="left" title="Bryan Yap">
			      <img id="avatarBryan" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('bryan.yap.mh@gmail.com') %>" alt="Bryan Yap">
			    </a>
			  </div>
			  <div class="avatar" class="col-xs-6 col-md-6">
			    <a href="#" class="" data-toggle="tooltip" data-placement="left" title="Sampriti Panda">
			      <img id="avatarSampriti" src="http://www.gravatar.com/avatar/<%= Digest::MD5::hexdigest('sampdingo@hotmail.com') %>" alt="Sampriti Panda">
			    </a>
			  </div> 
			</div> -->
		</div>
	</div>
</div>
