<%= stylesheet_link_tag 'code-playground', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'codealia-ide/ide', 'data-turbolinks-track' => true %>

<div class="container-fluid" ng-app="CodealiaIDE" ng-controller="LessonsController" ng-init="init()">
  <div class="row" ng-view></div>
  <div class="row">
    <ul class="nav nav-pills">
      <% [ 'HTML', 'CSS', 'JS' ].each do |lang| %>
        <li ng-class="{active: mode==='<%= lang %>'}">
          <a href="#/lessons/{{lessonId}}?mode=<%= lang %>"><%= lang %></a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div id="editor"></div>
    </div>

    <div class="col-xs-6">
      <iframe id="page-preview" src="<%= html_preview_path  %>"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Paste the code you just copied from the previous page above on the left. You will see a preview of the page in the pane on the right.</p>
      <p>Now you can edit the html in the left pane and see what effect your changes have in the preview.</p>
      <p>Change the first h1 tag to anything you like and play with the rest of the code to explore and see what happens.</p>
    </div>
  </div>
</div>
