<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% i18n_path = 'activerecord.attributes.post' %>

  <div class="field">
    <%= f.label :title, t("#{i18n_path}.title") %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author, t("#{i18n_path}.author") %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :created_at, t("#{i18n_path}.created_at") %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :content, t("#{i18n_path}.content") %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
