<div class="navbar navbar-custom navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path %>">codealia.org</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Workshop 1', ws1_path %></li>
      <li><%= link_to 'Workshop 2', workshop_path(2, 'intro') %></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <%= language_switch_link unless Rails.env.production? %>
      <li class="active"><a href="#"><%= t('layouts.navbar.links.concept_draft') %></a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
