<!DOCTYPE html>
<html>
<head>
  <title><%= t('title') %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'layouts/navbar' %>
<div class="container-fluid">
  <div id="float-box">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</div>
<div class="codealia animated fadeInLeft" style="opacity: 1;"></div>
<section class="bg-1">
  <div class="container">
  </div>
</section>

</body>
</html>
