<!DOCTYPE html>
<html>
<head>
  <title><%= t('title') %></title>
  <%= render 'layouts/meta_tags' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">
  <div class="container-fluid" style="min-height: 100%; margin-top: 50px;">
    <%= render partial: 'layouts/navbar' %>
    <%= yield %>
  </div>
  <div id="push"></div>
</div>
<div id="footer">
  <div class="container-fluid">
    <%= render 'layouts/footer' %>
  </div>
</div>

</body>
</html>
