<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/shared_head' %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="/custom.css" rel="stylesheet"> -->
  <%= stylesheet_link_tag "workshop/passion", 'data-turbolink-track' => true %>
  <%= stylesheet_link_tag "codealia-ide", 'data-turbolink-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body ng-app="Codealia">

<div>
  <%= yield %>
  <div cdl-passions-editor></div>
</div>

</body>
</html>
